<div class="content-event cfp">
  <h3 class="center" style="margin-bottom: 18px;">Call for papers</h3>

  TFPIE 2018 welcomes submissions describing techniques used in the classroom,
  tools used in and/or developed for the classroom and any creative use of
  functional programming (FP) to aid education in or outside Computer Science.
  Topics of interest include, but are not limited to:

  <ul>
    <li>FP and beginning CS students</li>
    <li>FP and Computational Thinking</li>
    <li>FP and Artificial Intelligence</li>
    <li>FP in Robotics</li>
    <li>FP and Music</li>
    <li>Advanced FP for undergraduates</li>
    <li>FP in graduate education</li>
    <li>Engaging students in research using FP</li>
    <li>FP in Programming Languages</li>
    <li>FP in the high school curriculum</li>
    <li>FP as a stepping stone to other CS topics</li>
    <li>FP and Philosophy</li>
    <li>The pedagogy of teaching FP</li>
    <li>FP and e-learning: MOOCs, automated assessment etc.</li>
    <li>Best Lectures – more details below</li>
  </ul>

  In addition to papers, we are requesting best lecture presentations. What’s your
  best lecture topic in an FP related course? Do you have a fun way to present FP
  concepts to novices or perhaps an especially interesting presentation of a
  difficult topic? In either case, please consider sharing it. Best lecture topics
  will be selected for presentation based on a short abstract describing the
  lecture and its interest to TFPIE attendees.

  <h3 class="center" style="margin-bottom: 18px; margin-top: 24px;">Submissions</h3>

  Potential presenters are invited to submit an extended abstract (4-6 pages) or a
  draft paper (up to 16 pages) in EPTCS style. The authors of accepted
  presentations will have their preprints and their slides made available on the
  workshop's website.

  Papers and abstracts can be submitted via easychair at the following link:
  <a href="https://easychair.org/conferences/?conf=tfpie2018">https://easychair.org/conferences/?conf=tfpie2018</a>

  After the workshop, presenters will be invited to submit (a revised version of)
  their article for review. The PC will select the best articles for publication
  in the journal Electronic Proceedings in Theoretical Computer Science (EPTCS).
  Articles rejected for presentation and extended abstracts will not be formally
  reviewed by the PC.

  <p>&nbsp;</p>
</div>
