---
---

<!DOCTYPE html>
<html lang="en">
  <!--
  Design by TEMPLATED
  http://templated.co
  Released for free under the Creative Commons Attribution License

  Name       : Adequately
  Description: A two-column, fixed-width design with dark color scheme.
  Version    : 1.0
  Released   : 20130910
  -->
  {% include head.html %}

  <body>
    {% include navbar.html %}

    <div id="wrapper" class="bg-color-white">
    	<div class="container">

    		<div class="event-upcoming event-detail">
    			<div id="showcase">
    				<img src="{{ site.baseurl }}/resources/img/gothenburg.jpg" alt="Computational Typologies" class="image image-full" />
    				<div class="event-box">
    					<div class="event-box-title">Trends in Functional Programming in Education</div>
    					<div class="event-box-date">June 2018<span class="date-detail">, Gothenburg, Sweden</span></div>
    					<!-- <div class="event-box-author"></div> -->
    				</div>
    			</div>
    		</div>

    		<div class="content-event">

          {{ content }}

    		</div>



    	</div>
    </div>

    <div id="wrapper" class="bg-color-grey-light">
    	<div id="about" class="container center">

    		<div class="content">


    			<h3 style="margin-bottom: 18px;">Practical Info</h3>

    				<div class="small-col">

    					<h4>Where is it?</h4>
    					<p>Chalmers University<br/>
    					Maskingränd 2<br/>
    					412 58 Göteborg, Sweden</p>
    				</div>

    				<div id="map"></div>

    		</div>
    	</div>
    </div>

    <div id="wrapper" class="bg-color-grey-dark">
    	<div id="upcoming" class="container center">


        {% include cfp.html %}

    	</div>
    </div>

    <div id="wrapper" class="bg-color-main">
    	<div id="footer" class="container center">

    		<h3 class="color-white">Program Committee</h3>

        <p class="color-white"><i>TBA :-)</i></p>
    	</div>
    </div>

    <div id="wrapper-copyright" class="bg-color-grey-dark">
    	<div class="container center color-grey-mid">
    		<!-- <p>Maintained monthly in a coworking space</p> -->
    	</div>
    </div>

  </body>
</html>
